.container {
    margin-top: 50px;
}

.trading-chart {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.chart-container {
    position: relative;
    margin-top: 20px;
}

iframe {
    max-width: 100% !important;
}

.macd-mark {
    position: absolute;
    left: -60px;
    top: 45%;
}

.macd-lamp {
    position: absolute;
    right: 75px;
    top: 25px;
}

.macd-label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #707070;
}

.macd-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #707070;
}

b {
    margin-bottom: 5px;
}