.icon-token {
    vertical-align: sub;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.icon-bep20 {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.token-symbol {
    vertical-align: text-top;
    margin: 10px;
}

.token-balance {
    float: right;
}